body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px 0;
    background: #D2B837;
    position: relative;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 15px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -999999px;
}

.burger {
    position: relative;
    width: 26px;
    height: 18px;
}

.burger:before,
.burger span,
.burger:after {
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background: #000;
}

.burger:before,
.burger:after {
    content: '';
}

.burger:before {
    top: 0;
}

.burger span {
    top: 8px;
}

.burger:after {
    bottom: 0;
}

#burger:checked + .burger:before {
    transition: transform .3s ease-in;
    transform: rotate(45deg);
    top: 8px;
}

#burger:checked + .burger span {
    opacity: 0;
}

#burger:checked + .burger:after {
    transition: transform .3s ease-in;
    transform: rotate(-45deg);
    bottom: 8px;
}

#burger:checked ~ .nav-list {
    transition: opacity .3s ease-in;
    opacity: 1;
    visibility: visible;
}

.nav-list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #D2B837;

    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.nav-item {
    padding-bottom: 15px;
}

.nav-link {
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    opacity: .7;
}

.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.content {
    text-align: center;
    padding: 15px;
}

.sidebar {
    flex: 0 0 210px;
    padding: 15px;
    text-align: center;
}

.sidebar-left {
    background: #C798B9;
}

.sidebar-right {
    background: #9CB1C7;
    display: none;
}

.footer {
    background: #86EC86;
    padding: 15px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    width: 100%;
    padding: 0 15px 30px;
}

.card {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
    height: 100%;
}

.card-title a {
    color: #000;
    text-decoration: none;
}

.card-title a:hover {
    opacity: .8;
}

.btn {
    color: #fff;
    padding: 2px 10px;
    border-radius: 12px;
    background: #685174;
    border: 1px solid #685174;
    text-decoration: none;
    line-height: 1;
}

.btn:hover {
    background: #fff;
    color: #685174;
}

@media (min-width: 768px) {
    .sidebar-right {
        display: block;
    }

    .col {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .burger {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        position: static;
    }

    .nav-item {
        padding-bottom: 0;
    }

    .nav-item + .nav-item {
        padding-left: 15px;
    }

    .sidebar-left {
        order: -1;
    }

    .main {
        flex-direction: row;
    }

    .col {
        width: 33.333%;
    }
}